@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input type ="number" @bind="currentCount"/>

<MovieList Movies="movies"/>

@code {

    private List<Movie> movies;
    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie() { Title = "Joker", ReleaseDate = new DateTime(2019, 8, 21) },
            new Movie() { Title = "God Father3", ReleaseDate = new DateTime(1963, 3, 19) },            
        };

    }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
