@page "/"

<div>
    <h4>Movie</h4>
    <MovieList Movies="movies"/>

</div>
@code{  
    private List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        movies = new List<Movie>()
        {
            new Movie() { Title = "Spider-Man : Far From Home", ReleaseDate = new DateTime(2019, 8, 21) },
            new Movie() { Title = "God Father2", ReleaseDate = new DateTime(1960, 3, 19) },
            new Movie() { Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16) }
        };

    }
}